
.tools {
    font-family:Helvetica;
    font-size:32px;
    font-weight:bold;
    color:white;
    background-color:mediumspringgreen;
}

h1{
    font-family:Helvetica;
    font-size:100px;
    font-weight:bold;
    color:khaki; 
    text-align:center; 
    background-image: url('D:\Projects\HelloWorld\pattern.jpeg');
}

p {
    font-family:Helvetica;
}

#price {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

.subtitle {
    font-weight:bold;
}